BODY.lang_mex DIV#terra_mx_header
{
	background: black;
	width: 100%;
	height: 24px;
	overflow: hidden;
}

BODY.lang_mex DIV#boxes DIV.publi_header_300x
{
	display: block;
	height: 16px;
	width: 300px;
	clear: both;
	text-indent: -9000px;
	background: white url('../images/mex_publicidad_300x.png') top left no-repeat;
}

BODY#boombang.lang_mex	H1,
BODY#rankings.lang_mex	H1,
BODY#shop.lang_mex		H1,
/*BODY#shots.lang_mex		H1 { background-image: url('../images/isla/h1_boombang_mex.png'); }*//*Imagen de fondo con el fondo verde*/
BODY#shots.lang_esp		H1 { background-image: url('../images/partner/h1_boombang_esp.png'); }/*Imagen de fondo con el fondo azul*/
BODY#safety.lang_mex 	H1 { background-image: url('../images/h1_safety_mex.jpg'); }
BODY#parents.lang_mex 	H1 { background-image: url('../images/h1_parents_mex.jpg'); }
BODY#credits.lang_mex 	H1 { background-image: url('../images/h1_credits_mex.jpg'); }
BODY#members.lang_mex 	H1 { background-image: url('../images/h1_members_mex.jpg'); }
BODY#contact.lang_mex	H1 { background-image: url('../images/h1_contact_mex.jpg'); }

/* PLAY */
BODY#boombang.lang_mex	A#link_play ,
BODY#rankings.lang_mex	A#link_play ,
BODY#shop.lang_mex		A#link_play ,
/*BODY#shots.lang_mex		A#link_play { background-image: url('../images/isla/play_boombang_mex.jpg'); }*/ /*Play con fondo de color azul*/
BODY#shots.lang_mex             A#link_play { background-image: url('../images/partner/play_boombang_mex.jpg'); } /*Play con fondo de color verde*/
BODY#safety.lang_mex	A#link_play { background-image: url('../images/play_safety_mex.jpg'); }
BODY#parents.lang_mex	A#link_play { background-image: url('../images/play_parents_mex.jpg'); }
BODY#credits.lang_mex	A#link_play { background-image: url('../images/play_credits_mex.jpg'); }
BODY#members.lang_mex	A#link_play { background-image: url('../images/play_members_mex.jpg'); }
BODY#contact.lang_mex	A#link_play { background-image: url('../images/play_contact_mex.jpg'); }

/* MENU 1 */
BODY#boombang.lang_mex 	UL#menu1 A 	,
BODY#rankings.lang_mex 	UL#menu1 A 	,
BODY#shop.lang_mex 		UL#menu1 A 	,
BODY#shots.lang_mex 	UL#menu1 A 	{ background-image: url('../images/plantas/menu1_boombang_mex.jpg'); }
BODY#safety.lang_mex 	UL#menu1 A 	{ background-image: url('../images/menu1_safety_mex.jpg'); }
BODY#parents.lang_mex 	UL#menu1 A	{ background-image: url('../images/menu1_parents_mex.jpg'); }
BODY#credits.lang_mex 	UL#menu1 A	{ background-image: url('../images/menu1_credits_mex.jpg'); }
BODY#members.lang_mex 	UL#menu1 A	{ background-image: url('../images/menu1_members_mex.jpg'); }
BODY#news.lang_mex 		UL#menu1 A	{ background-image: url('../images/menu1_news_mex.jpg'); }
BODY#contact.lang_mex 	UL#menu1 A	{ background-image: url('../images/menu1_contact_mex.jpg'); }

BODY.lang_mex UL#menu1 A#link_boombang 	{ background-position: 0px 0px;   width: 166px; }
BODY.lang_mex UL#menu1 A#link_safety 	{ background-position: -166px 0px; width: 167px; }
BODY.lang_mex UL#menu1 A#link_parents 	{ background-position: -333px 0px; width: 166px; }
BODY.lang_mex UL#menu1 A#link_credits 	{ background-position: -499px 0px; width: 166px; }
BODY.lang_mex UL#menu1 A#link_members 	{ background-position: -665px 0px; width: 165px; }
BODY.lang_mex UL#menu1 A#link_contact 	{ background-position: -830px 0px; width: 148px; }

BODY#boombang.lang_mex UL#menu1 A#link_boombang ,
BODY.lang_mex UL#menu1 A#link_boombang:hover 	{ background-position: 0px -32px; }
BODY#safety.lang_mex UL#menu1 A#link_safety ,
BODY.lang_mex UL#menu1 A#link_safety:hover 		{ background-position: -166px -32px; }
BODY#parents.lang_mex UL#menu1 A#link_parents ,
BODY.lang_mex UL#menu1 A#link_parents:hover 	{ background-position: -333px -32px; }
BODY#credits.lang_mex UL#menu1 A#link_credits ,
BODY.lang_mex UL#menu1 A#link_credits:hover 	{ background-position: -499px -32px; }
BODY#members.lang_mex UL#menu1 A#link_members ,
BODY.lang_mex UL#menu1 A#link_members:hover 	{ background-position: -665px -32px; }
BODY#contact.lang_mex UL#menu1 A#link_contact ,
BODY.lang_mex UL#menu1 A#link_contact:hover		{ background-position: -830px -32px; }

BODY.lang_mex UL#menu1 A#link_boombang:hover 	{ background-position: 0px -32px; }
BODY.lang_mex UL#menu1 A#link_safety:hover 		{ background-position: -166px -32px; }
BODY.lang_mex UL#menu1 A#link_parents:hover 	{ background-position: -333px -32px; }
BODY.lang_mex UL#menu1 A#link_credits:hover 	{ background-position: -499px -32px; }
BODY.lang_mex UL#menu1 A#link_members:hover 	{ background-position: -665px -32px; }
BODY.lang_mex UL#menu1 A#link_contact:hover		{ background-position: -830px -32px; }

/* MENU 2 */
UL#menu2 LI A		{ background-image: url('../images/menu2_mex.png'); }

BODY#boombang.lang_mex 	H2 { background-image: url('../images/plantas/h2_boombang_mex.png'); }
BODY#safety.lang_mex 	H2 { background-image: url('../images/h2_safety_mex.png'); }
BODY#parents.lang_mex 	H2 { background-image: url('../images/h2_parents_mex.png'); }
BODY#credits.lang_mex 	H2 { background-image: url('../images/h2_credits_mex.png'); }
BODY#members.lang_mex 	H2 { background-image: url('../images/h2_members_mex.png'); }
BODY#blog.lang_mex 		H2 { background-image: url('../images/h2_news_mex.png'); }
BODY#contact.lang_mex	H2 { background-image: url('../images/h2_contact_mex.png'); }
BODY#shop.lang_mex 		H2 { background-image: url('../images/h2_shop_mex.png'); }
BODY#shots.lang_mex 	H2 { background-image: url('../images/h2_shots_mex.png'); }

BODY#boombang.lang_mex	DIV#box1	{ background-image: url('../images/plantas/boxes_boombang_mex.png'); }
BODY#safety.lang_mex	DIV#box1	{ background-image: url('../images/boxes_safety_mex.png'); }
BODY#parents.lang_mex	DIV#box1	{ background-image: url('../images/boxes_parents_mex.png'); }
BODY#credits.lang_mex	DIV#box1	{ background-image: url('../images/boxes_credits_mex.png'); }
BODY#members.lang_mex	DIV#box1	{ background-image: url('../images/boxes_members_mex.png'); }

/* CREDITS */
BODY#credits.lang_mex A#buy_btn { background-image: url('../images/buybtn_mex.png'); }

/* CONTACT */
BODY#contact.lang_mex A#contact_back { background-image: url('../images/contact_back_mex.png'); }
BODY#contact.lang_mex A#contact_send { background-image: url('../images/contact_send_mex.png'); }

/* SHOP */
BODY#shop.lang_mex A#link_shirtcity	{ background-image: url('../images/shop_shirtcity_mex.png'); }
BODY#shop.lang_mex A#link_cafepress { background-image: url('../images/shop_cafepress_mex.png'); }

/* OPTOUT */
BODY.optout_info_mex H1 		{ background-image: url('../images/optout_info_title_mex.png'); }
BODY.optout_confirm_mex H1 		{ background-image: url('../images/optout_confirm_title_mex.png'); }
BODY.optout_error_mex H1		{ background-image: url('../images/optout_error_title_mex.png'); }
BODY.optout_success_mex H1 		{ background-image: url('../images/optout_success_title_mex.png'); }
BODY.optout_wrongdata_mex H1 	{ background-image: url('../images/optout_wrongdata_title_mex.png'); }
BODY.optout_confirm_mex FORM#confirm_form	{ background: url('../images/optout_confirm_formbg_mex.png') center left no-repeat; }
BODY.optout_confirm_mex	BUTTON#confirm_submit { background: url('../images/optout_confirm_send_mex.png') top left no-repeat; }

